.swipeUpDownMenu {
  transition: all 0.5s ease-in-out;
  z-index: 2;
  width: 95%;
  margin-left: 2.5%;
  height: 95%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  top: 10%;
  border-radius: 30px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(16, 16, 16, 0.9);
}
.swipeUpDownMenu__header {
  width: 100%;
  height: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.swipeUpDownMenu__header__icon {
  transition: all 0.5s ease-in-out;
  font-size: 1.3rem;

}
.swipeUpDownMenu__header__title {
  text-align: center;
  font-size: 0.9rem;
}

.swipeUpDownMenu__content {
  color: black;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
