.swipeUpDownMenu {
  transition: all 0.5s ease-in-out;
  z-index: 2;
  width: 95%;
  margin-left: 2.5%;
  height: 95%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  top: 10%;
  border-radius: 30px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(16, 16, 16, 0.9);
}
.swipeUpDownMenu__header {
  width: 100%;
  height: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.swipeUpDownMenu__header__icon {
  transition: all 0.5s ease-in-out;
  font-size: 1.3rem;
}
.swipeUpDownMenu__header__title {
  text-align: center;
  font-size: 0.9rem;
}

.swipeUpDownMenu__content {
  color: black;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Estilos para NavigationBar */

.NavigationBarContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-color: #fff;
  z-index: 2;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.23);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.48);
}

.NavigationBar__icon {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  padding: 0.2rem;
  width: 1em;
}

/* CSS animation component */

.preloader4 {
  position: relative;
  width: 100px;
}
.preloader4 span {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #3498db;
  opacity: 0.5;
  border-radius: 20px;
  animation: preloader4 1s infinite ease-in-out;
}
.preloader4 span:nth-child(2) {
  left: 20px;
  animation-delay: 0.2s;
}
.preloader4 span:nth-child(3) {
  left: 40px;
  animation-delay: 0.4s;
}
.preloader4 span:nth-child(4) {
  left: 60px;
  animation-delay: 0.6s;
}
.preloader4 span:nth-child(5) {
  left: 80px;
  animation-delay: 0.8s;
}
@keyframes preloader4 {
  0% {
    opacity: 0.3;
    transform: translateY(0px);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  }
  50% {
    opacity: 1;
    transform: translateY(-10px);
    background: #c62906;
    box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.05);
  }
  100% {
    opacity: 0.3;
    transform: translateY(0px);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  }
}
