.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  33% {
    transform: rotate(-5deg) scale(1.05);
  }
  49.5% {
    transform: rotate(0deg) scale(1);
  }
  66% {
    transform: rotate(5deg) scale(1.05);
  }
}
