.contenedorComandaActual {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0px 10px 15px 10px;
  margin-bottom: 10vh;
}

.producto {
  border-radius: var(--border-radius);
  border: var(--foreground) solid var(--border-size);
  background-color: var(--background);
  margin: 10px 0;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.productoImagen {
  width: 60px;
  height: 60px;
  border-radius: var(--border-radius);
  background-color: var(--background);
  object-fit: scale-down;
  margin-right: 10px;
}

.productoTitulo {
  font-weight: bold;
  font-size: var(--font-h3-size);
  width: 230px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 45vw;
}

.inputMesa {
  transition: all 0.2s ease-in-out;
  font-size: var(--font-h4-size);
  border-bottom: var(--foreground) solid var(--border-size);
  background-color: var(--background);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.inputMesa:focus {
  outline: none;
  border-radius: var(--border-radius);
  padding: 10px;
  border-bottom: var(--foreground) solid var(--border-size);
}

.containerEstado {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.textoProducto {
  width: inherit;
  flex-grow: 2;
}

.infoPrincipal {
  border: var(--foreground) solid var(--border-size);
  background-color: var(--background);
  margin: 10px 0;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.infoProducto {
  display: flex;
  align-items: center;
  flex-grow: 2;
}

.textPrecioTam {
  margin: 0 5px;
  font-size: var(--font-xsmall-size);
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.tituloDeCategoria {
  font-size: var(--font-h3-size);
  font-weight: bold;
  margin-bottom: 10px;
}

.precio {
  color: #fff;
  background-color: rgb(0, 0, 0);
}

.tam {
  color: #fff;
  background-color: rgb(51, 51, 254);
}

.icono {
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: var(--background-secondary);
  color: var(--foreground);
  font-size: var(--icon-size);
}

.productoIndex {
  border-radius: var(--border-radius);
  padding: 5px;
  background-color: var(--background-secondary);
  color: var(--foreground);
  font-weight: bolder;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.totalCuenta {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  width: 100%;
  height: 80px;
  font-family: "Arial", Courier, monospace;
  font-size: var(--font-h2-size);
  font-weight: bold;
  color: var(--foreground);
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-color: var(--background);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.totalCuenta p {
  text-align: end;
}

.sinProducto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  width: 100%;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  border-radius: 25px;
}

/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flexbox;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: var(--icon-size);
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
